<h1>index details</h1>

<table>
<tr>
<th>Title</th>
<th>Description</th>
</tr>
<tr>
<% @articles.each do |t| %>
   <td> <%= t.title %> </td>
   <td> <%= t.description %></td>
   </tr>
<% end %>
</table>
